* {
  margin: 0;
  padding: 0;
}

#main {
  display: grid;
  grid-template:
    "header header header" auto
    "list   bar info  " 1fr
    / 1fr auto auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main > .header {
  grid-area: header;
  padding: 24px;
  font-size: 30px;
  box-shadow: 0 2px 4px 0 #aaa;
}

#main > #achivelist {
  grid-area: list;
  padding: 24px;
  overflow: scroll;
}

#main > #achivelist > div {
  padding-bottom: 20px;
}

#main > #achivelist > div > .title {
  font-size: 20px;
  font-family: courier;
}

#main > #achivelist > div > .container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: left;
}

#main > #achivelist > div > .container > .achive {
  margin: 0 0;
  padding: 10px;
  border-radius: 8px;
  transition-duration: .3s;
}

#main > #achivelist > div > .container > .achive > canvas {
  transition-duration: .3s;
}

#main > #achivelist > div > .container > .achive.selected {
  background: #ddd;
}

#main > #achivelist > div > .container > .achive:hover {
  transform: scale(1.1);
}


#main > #achivebar {
  height: 100%;
  width: 10px;
  background: #333;
  transition-duration: .3s;
  position: relative;
}

#main > #achivebar:hover {
  width: 32px;
}

#main > #achivebar > #handle {
  background: white;
  width: 16px;
  height: 64px;
  position: absolute;
  opacity: 0;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  transition-duration: .3s;
  border-radius: 8px;
}

#main > #achivebar:hover > #handle {
  opacity: 1;
}


#main > #achiveinfo {
  grid-area: info;
  padding: 24px;
  position: relative;
}

#main > #achiveinfo > #achive_thumnail {
  position: relative;
  margin: 20px auto;
  left: 0; right: 0;
  display: block;
}

#main > #achiveinfo > #achive_title {
  padding: 16px;
}

#main > #achiveinfo > #achive_description {
  padding: 16px;
}

#main > #achiveinfo > #achive_detail {
  padding: 16px;
}

#main > #achiveinfo > #achive_button {
  width: 128px;
  margin: 0 auto;
  padding: .3em;
  border-radius: .3em;
  text-align: center;

  background: #d88;
  transition-duration: .3s;
}

#main > #achiveinfo > #achive_button:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 8px;
}

#main > #achiveinfo > #achive_button:active{
  transform: translateY(0);
}

#main > #achiveinfo > #achive_button.unlocked {
  background: #8d8;
}


