*{
  margin: 0;
  padding: 0;
}

#main {
  display: grid;
  grid-template:
    "header header" auto
    "list   info  " 1fr
    /1fr    auto;
  width: 100vw;
  height: 100vh;
}

#main > .header {
  grid-area: header;
  padding: 24px;
  font-size: 30px;
  border-bottom: solid 1px black;
}

#main > #achivelist {
  grid-area: list;
  padding: 24px;
  overflow: scroll;
}

#main > #achivelist > div > .title {
  font-size: 20px;
  font-family: courier;
}

#main > #achivelist > div > .container {
  display: flex;
  flex-wrap: wrap;
}

#main > #achivelist > div > .container > .achive {
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  transition-duration: .3s;
}
#main > #achivelist > div > .container > .achive.selected {
  background: #aaa;
}
#main > #achivelist > div > .container > .achive:hover {
  transform: scale(1.1);
}

#main > #achiveinfo {
  width: 256px;
  grid-area: info;
  
}

#main > #achiveinfo > #achive_thumnail {
  position: relative;
  margin: 32px auto;
  left: 0; right: 0;
  display: block;
}

#main > #achiveinfo > #achive_button {
  position: relative;
  margin: 32px auto;
  left: 0; right: 0;
  width: 10em;
  text-align: center;
  padding: 0.3em;
}

#main > #achiveinfo > #achive_button.unlocked {
  
}

